body{
    background-color: rgb(145, 221, 199) !important;
}
.main{
    text-align:center;
}

h1{
    margin-top: 10%;
}
h2 {
    text-transform:uppercase;
    color:#41b383;
    margin-top: 4%;
  
}

img{
    width: 100%;
    padding: 5% 15%;
}
span {
    padding-right: 5%;
}