body{
    background-color: rgb(145, 221, 199) !important;
}
.main{
    text-align:center;
}

h1{
    margin-top: 3% !important;
    color:#41b383;
}
h2 {
    text-transform:uppercase;
    color:#41b383;
    margin-top: 2% !important;
  
}

img{
    width: 100%;
    padding: 5% 15%;
}
span {
    padding-right: 5%;
}

canvas{
    width: 90%;
    margin: 0 5%;
    border: 1px solid black;
}